
.container header{
    display: flex;
    flex-flow: row;
}
.container header .homeLink{
    text-decoration: none;
}
.container header h1{
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(139, 9, 255, 0.7);
    margin: 0;
    padding: 0.5rem;
    transition: .2s;
}
.container header h1:hover{
    color: rgb(168, 168, 168);
    text-decoration: underline;
}
.container header .leftMenu, .container header .rightMenu{
    font-size: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: rgba(139, 9, 255, 0.7);
    margin-left: 1rem;
    transition: .2s;
}
.container header .leftMenu:hover, .container header .rightMenu:hover{
    color: rgb(168, 168, 168);
    text-decoration: underline;
}