
.home .container {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-gap: 1rem;
}

/* =======================LEFT COLUMN============================= */
.home .container #leftCol{
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 1rem 0 0 0;
}
.home .container #leftCol h1{
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(168, 168, 168);
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: .4s;
}
.home .container #leftCol h1:hover{
    color: rgba(139, 9, 255, 0.7);
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    text-decoration: underline;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.home .container #leftCol .heading div{
    color: rgb(139, 9, 255);
    cursor: pointer;
    padding: .15rem 0;
    color: rgb(168, 168, 168);
}
.home .container #leftCol .heading div:hover{
    color: #8B09FF;
}
.home .container #leftCol .calendarTable{
    margin: 2rem 0;
}
.home .container #leftCol .calendarTable table{
    border: 1px solid black;
    margin: 0 auto;
    background: rgb(209, 209, 209);
    border-radius: 5px;
}
.home .container #leftCol .calendarTable table tr th{
    margin: 0 auto;
    background: white;
    border-radius: 5px;
}
.home .container #leftCol .calendarTable table tr td{
    border: 1px solid black;
    margin: 0 auto;
    cursor: pointer;
}
.home .container #leftCol .calendarTable table tr td:hover{
    color: white;
    background: #8B09FF;
    border: 1px solid white;
}
.home .container #leftCol .aboutLinks {
    margin: 2rem 0;
}
.home .container #leftCol .aboutLinks div{
    color: rgb(139, 9, 255);
    cursor: pointer;
    padding: .15rem 0;
    color: white;
}
.home .container #leftCol .aboutLinks div:hover {
    color: #8B09FF;
}
/* =======================LEFT COLUMN============================= */

/* =======================CENTER COLUMN============================= */
.home .container #centerCol .centerHeader {
    text-align: center;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 1.25rem;
}
.home .container #centerCol .centerHeader h1{
    margin: 1rem 0;
    padding: .5rem 0;
    color: rgb(168, 168, 168);
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    transition: .4s;
}
.home .container #centerCol .centerHeader h1:hover{
    color: #8B09FF;
    text-decoration: underline;
}
.home .container #centerCol .links {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    /* grid-gap: 80px; */
    /* padding: 20px; */
    margin: 0 auto 60px;
}
.home .container #centerCol .links .categories {
    display: flex;
    flex-flow: column;
}
.home .container #centerCol .links .categories .title {
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 0.9rem 0;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(139, 9, 255, 0.7);
    padding: .5rem;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    transition: .5s;
}
.home .container #centerCol .links .categories .title:hover {
    background: transparent;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: rgb(139, 9, 255);
}
.home .container #centerCol .links .categories .groupLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.9rem;
    font-weight: 400;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.home .container #centerCol .links .categories .groupLinks.singleCol {
    grid-template-columns: repeat(1, 1fr);
}
.home .container #centerCol .links .categories .groupLinks a {
    text-decoration: none;
    text-transform: lowercase;
    color: #8B09FF;
    margin: 0 0 0.3rem 0;
    letter-spacing: 2px;
    padding: 0 1rem;
}
.home .container #centerCol .links .categories .groupLinks a:hover {
    color: #ffffff;
}
.home .container .trending {
    max-width: 700px;
    margin: 0 auto;
}
.home .container .trending .search {
    width: 100%;
    font-size: 1rem;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
}
.home .container #centerCol .trending .search::placeholder {
    color: rgba(0, 0, 0, .5);
}
.home .container #centerCol .trending .title {
    font-size: 1rem;
    color: #8B09FF;
    text-align: center;
    padding: 20px 0 10px 0;
    text-transform: uppercase;
    font-weight: 400;
}
.home .container #centerCol .trending .trendingTags {
    text-align: center;
}
.home .container #centerCol .trending .trendingTags .tag {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid #8B09FF;
    display: inline-block;
    color: #8B09FF;
}
.home .container #centerCol .trending .trendingTags .tag:hover {
    background: #8B09FF;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
/* =======================CENTER COLUMN============================= */


/* =======================RIGHT COLUMN============================= */
.home .container #rightCol{
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 1rem 0 0 0;
}
.home .container #rightCol h1{
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(168, 168, 168);
    margin: 0;
    padding: 0.5rem;
    transition: .4s;
}
.home .container #rightCol h1:hover{
    color: rgba(139, 9, 255, 0.7);
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    text-decoration: underline;
}
.home .container #rightCol .nearLink{
    color: rgb(139, 9, 255);
    cursor: pointer;
    padding: .15rem 0;
    color: rgb(168, 168, 168);
}
.home .container #rightCol .nearLink:hover{
    color: #8B09FF;
}
/* =======================RIGHT COLUMN============================= */