@import "./homeColumns/leftColumn.css";
@import "./homeColumns/centerColumn.css";
@import "./homeColumns/rightColumn.css";

.home .container {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    grid-gap: 1rem;
}

/* =======================LEFT COLUMN============================= */
/* =======================LEFT COLUMN============================= */

/* =======================CENTER COLUMN============================= */
/* =======================CENTER COLUMN============================= */


/* =======================RIGHT COLUMN============================= */
/* =======================RIGHT COLUMN============================= */


/* ===================================MEDIA QUERIES======================================= */
/* ==================================TABLET===================================== */
/* IPAD PRO */
@media only screen and (max-width: 1300px) {
    .home .container{
        max-width: 1000px;
    }
    .home .container #centerCol .links{
        background: transparent;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .home .container #centerCol .links .categories{
        width: 15rem;
    }
}
/* IPAD PRO */

/* IPAD */
@media only screen and (max-width: 850px) {
    .container header{
        position: static;
        visibility: visible;
    }
    .home .container{
        max-width: 750px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    /* .home .container #leftCol{
        position: absolute;
        visibility: hidden;
    } */
    .home .container #centerCol{
        margin: 1rem 0 0 0;
    }
    .home .container #centerCol .centerHeader{
        position: absolute;
        visibility: hidden;
    }
    .home .container #centerCol .links{
        margin: 0 0 1rem 0;
    }
    .home .container #centerCol .links .categories .title{
        margin: 0;
        visibility: hidden;
        position: absolute;
    }
    .home .container #centerCol .links .categories .mobileCategory{
        position: static;
        visibility: visible;
    }
    .home .container #centerCol .links .categories .groupLinks {
        border: none;
        position: absolute;
        visibility: hidden;
    }
}
/* IPAD */









/* ===================================MEDIA QUERIES======================================= */