.listingsPage {
    background: white;
}
.listingsPage #filter {
    display: flex;
    flex-flow: row wrap;
    padding: 3rem 0;
}
.listingsPage #filter .makeModel {
    display: flex;
    flex-flow: row nowrap;
}
.listingsPage #listView {
    background: #f1f1f1;
    padding: 1.2rem 0;
}
.listingsPage #listView .whiteBox {
    background: white;
    padding: 1.2rem;
}
.listingsPage #listView .whiteBox .changeView {
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;
}
.listingsPage #listView .whiteBox .allItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-gap: 20px 20px;
} 
.listingsPage #listView .whiteBox .allItems .item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    min-width: 314px;
}
.listingsPage #listView .whiteBox .allItems .item .image {
    height: 250px;
    background-size: cover;
    position: relative;
    padding: 10px;
}
.listingsPage #listView .whiteBox .allItems .item .image .price {
    background: white;
    position: absolute;
    padding: 5px 10px;
    color: green;
    border-radius: 3px;
}
.listingsPage #listView .whiteBox .allItems .item .details {
    padding: 0 10px;
}
.listingsPage #listView .whiteBox .allItems .item .details h5 {
    font-size: 1rem;
    color: #27292d;
    line-height: 1;
    text-transform: capitalize;
}
.listingsPage #listView .whiteBox .allItems .item .details .fa-star {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}
.listingsPage #listView .whiteBox .allItems .item .details .fa-star:hover {
    color: gold;
}
.listingsPage #listView .whiteBox .allItems .item .details h6 {
    font-size: 0.9rem;
    color: #565d68;
    text-transform: capitalize;
}
.listingsPage .formGroup {
    display: flex;
    flex-flow: column nowrap;
}
.listingsPage .formGroup label {
    font-weight: 500;
    margin: 0 0 0.8rem 0;
}
.listingsPage .formGroup select {
    background: white;
    border-radius: 5px;
    padding: 5px;
    color: gray;
    min-width: 100px;
    margin-right: 15px;
}
.listingsPage .formGroup.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.listingsPage .formGroup.button .primaryBtn, .listingsPage .formGroup.button .resetBtn {
    border-radius: 10px;
    padding: 10px;
    margin: 0 0.5rem;
    cursor: pointer;
}
.listingsPage .formGroup.button .primaryBtn:hover, .listingsPage .formGroup.button .resetBtn:hover {
    background: #25d9b8;
    color: #f2bb16;
}
.listingsPage .formGroup.button .primaryBtn {
    background: #f2bb16;
    color: white;
}
.listingsPage .formGroup.button .resetBtn {
    background: white;
    color: #f2bb16;
}















/* .listingsPage #listView .whiteBox .allItems {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-gap: 20px 20px;
    padding: 20px 0;
}
.listingsPage #listView .whiteBox .allItems .item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    max-height: 340px;
    min-width: 300px;
} */