.detailsPage {
    background: #f5f5f5;
    /* max-width: 1000px; */
    margin: 0 auto;
}
.detailsPage .whiteBox {
    background: white;
}

/* ==================================================================================== */
/* ================================= SUBMENU COMPONENT ================================ */
.detailsPage .whiteBox .subMenu {
    display: flex;
    flex-flow: column;
    padding: 1rem;
}
.detailsPage .whiteBox .subMenu .direction{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.detailsPage .whiteBox .subMenu .direction .btn{
    display: flex;
    flex-flow: row;
    padding: .25rem .75rem;
    cursor: pointer;
}
.detailsPage .whiteBox .subMenu .direction .prev{
    color: #8B09FF;
    margin: 0 .5rem 0 0;
}
.detailsPage .whiteBox .subMenu .direction .prev i{
    margin: 0 .25rem 0 0;
}
.detailsPage .whiteBox .subMenu .direction .prev:hover{
    background: #8B09FF;
    color: white;
    text-decoration: underline;
}
.detailsPage .whiteBox .subMenu .direction .next{
    background: #8B09FF;
    color: white;
    border: 1px solid transparent;
}
.detailsPage .whiteBox .subMenu .direction .next i{
    margin: 0 0 0 .25rem;
}
.detailsPage .whiteBox .subMenu .direction .next:hover{
    background: white;
    color: #8B09FF;
    text-decoration: underline;
}
.detailsPage .whiteBox .subMenu .userInterest{
    display: flex;
    flex-flow: row;
    height: 2.5rem;
}
.detailsPage .whiteBox .subMenu .userInterest .reply{
    display: flex;
    align-items: center;
    color: #8B09FF;
    border: 1px solid #8B09FF;
    padding: 0 1rem;
    cursor: pointer;
}
.detailsPage .whiteBox .subMenu .userInterest .reply:hover{
    color: white;
    background: #8B09FF;
    border: 1px solid #8B09FF;
    padding: 0 1rem;
    cursor: pointer;
}
.detailsPage .whiteBox .subMenu .userInterest .btn{
    margin: 0 1rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;
}
.detailsPage .whiteBox .subMenu .userInterest .btn i{
    color: #8B09FF;
    margin-bottom: 2px;
}
/* ================================= SUBMENU COMPONENT ================================ */
/* ==================================================================================== */

.detailsPage .whiteBox .contentArea {
    /* display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px; */
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 1rem 0;
}
.detailsPage .whiteBox .contentArea .mediaColumn{
    padding: 0 1.5rem;
}
.detailsPage .whiteBox .contentArea .mediaColumn h1{
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

/* ==================================================================================== */
/* ================================= GALLERY COMPONENT ================================ */

.detailsPage .whiteBox .contentArea .mediaColumn .gallery .slider .mainImage {
    position: relative;
    height: 450px;
    width: 600px;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .slider .mainImage .arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 8px;
    background: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, .6);
    cursor: pointer;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .slider .mainImage .arrows.leftArrow {
    left: 0;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .slider .mainImage .arrows.rightArrow {
    right: 0;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .slider .mainImage .imageOne {
    height: 100%;
    width: 100%;
    background-size: cover;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .thumbnails {
    display: flex;
    flex-flow: row nowrap;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .thumbnails .thumbImage {
    height: 100px;
    width: 100px;
    background-size: cover !important;
    cursor: pointer;
    border: 2px solid transparent;
    margin: 0 1px;
}
.detailsPage .whiteBox .contentArea .mediaColumn .gallery .thumbnails .thumbImage:hover {
    border: 2px solid rgba(139, 9, 255, 0.7);
}
/* ================================= GALLERY COMPONENT ================================ */
/* ==================================================================================== */


.detailsPage .whiteBox .contentArea .mediaColumn .description {
    margin-top: 1rem;
}
.detailsPage .whiteBox .contentArea .mediaColumn .description P{
    font-size: 1rem;
    letter-spacing: 1px;
}
.detailsPage .whiteBox .contentArea .detailsColumn {
    padding: 0 1.5rem;
    border-left: 1px solid rgba(139, 9, 255, .2);
}
.detailsPage .whiteBox .contentArea .detailsColumn .date {
    font-size: 0.9rem;
    color: #242424;
    padding: 1rem 0;
}
.detailsPage .whiteBox .contentArea .detailsColumn .price {
    color: green;
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.detailsPage .whiteBox .contentArea .detailsColumn label {
    font-size: 0.9rem;
    display: block;
}
.detailsPage .whiteBox .contentArea .detailsColumn .moreDetails {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #808080 41;
}
.detailsPage .whiteBox .contentArea .detailsColumn .moreDetails .info{
    display: flex;
    flex-flow: row wrap;
    padding: .25rem .5rem;
    background: rgb(233, 233, 233);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    margin: .25rem 0;
    width: fit-content;
}
.detailsPage .whiteBox .contentArea .detailsColumn .moreDetails .info h5 {
    font-size: 0.9rem;
    font-weight: 400;
    font-weight: 700;
    margin: 0 0 0 .25rem;
}
.detailsPage .whiteBox .contentArea .detailsColumn .description p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #242424;
    margin: 0 0 1rem 0;
}


/* ===================================MEDIA QUERIES======================================= */

/* IPAD PRO */
@media only screen and (max-width: 1300px) {
    .detailsPage {
        max-width: 1000px;
    }
    .detailsPage .whiteBox .contentArea .mediaColumn .gallery .thumbnails .thumbImage {
        background-size: cover;
    }
}
/* IPAD PRO */


/* IPAD */
@media only screen and (max-width: 850px) {
    .detailsPage {
        max-width: 800px;
    }
}
/* IPAD */