
/* =============== TOP HEADER ================ */
.topHead{
    width: 100vw;
    background: rgb(40, 54, 93);
}
.topHead .container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: white;
    padding: .5rem 0;
    font-size: .8rem;
}
.topHead .container .langLocContainer{
    display: flex;
    flex-flow: row;
}
.topHead .container .langLocContainer .languageSelect{
    display: flex;
    flex-flow: row;
    margin-right: 1rem;
}
.topHead .container .langLocContainer .languageSelect h6{
    margin-right: .5rem;
}
.topHead .container .langLocContainer .languageSelect h5{
    margin-right: .5rem;
}
.topHead .container .langLocContainer .locationSelect{
    display: flex;
    flex-flow: row;
}
.topHead .container .langLocContainer .locationSelect h6{
    margin-right: .5rem;
}
.topHead .container .langLocContainer .locationSelect h5{
    margin-right: .5rem;
}
.topHead .container .accountSelect{
    display: flex;
    flex-flow: row;
}
.topHead .container .accountSelect h6{
    margin-right: .5rem;
}
.topHead .container .accountSelect i{
    margin-right: .5rem;
}
/* =============== BOTTOM HEADER ================ */
.container .bottomHead{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(200, 200, 200, 0.123);
    height: 6rem;
}
.container .bottomHead .homeLink{
    text-decoration: none;
    color: rgb(21, 210, 204);
    font-family: 'Open Sans', sans-serif;
}
.container .bottomHead .homeLink .logo{
    font-size: 1.5rem;
}
.container .bottomHead .homeLink .logo .logoLetter{
    font-size: 2rem;
    color: rgb(40, 54, 93);
}
.container .bottomHead #headerSearch{
    position: relative;
    /* height: 100%; */
    padding: .6rem;
    width: 20rem;
    -webkit-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.07); 
    box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.07);
}
.container .bottomHead #headerSearch input{
    border: none;
    /* padding: .25rem 1rem; */
}
.container .bottomHead #headerSearch .fas{
    position: absolute;
    right: 1rem;
    /* padding: .25rem 0; */
}
.container .bottomHead .postBtn{
    background: rgb(21, 210, 204);
    color: white;
    border: none;
    padding: .35rem 2rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}