
.home .container #rightCol{
    text-align: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.home .container #rightCol h1{
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 2rem;
    color: rgb(168, 168, 168);
    margin: 0;
    padding: 0.5rem;
    transition: .4s;
}
.home .container #rightCol h1:hover{
    color: rgba(139, 9, 255, 0.7);
    background: linear-gradient(135deg, rgba(255, 255, 255, .9) 0%, rgba(175, 172, 174, 0.9) 100%);
    text-decoration: underline;
}
.home .container #rightCol .nearContain{
    visibility: hidden;
    position: absolute;
}
.home .container #rightCol .nearContain.active{
    visibility: visible;
    position: static;
}
.home .container #rightCol .nearDesktop .nearLink{
    color: rgb(139, 9, 255);
    cursor: pointer;
    padding: .15rem 0;
    color: rgb(168, 168, 168);
}
.home .container #rightCol .nearContain .nearLink{
    color: rgb(139, 9, 255);
    cursor: pointer;
    padding: .15rem 0;
    color: rgb(168, 168, 168);
}
.home .container #rightCol .nearContain .nearLink:hover{
    color: #8B09FF;
}

/* ===================================MEDIA QUERIES======================================= */

/* LARGE PHONE */
@media only screen and (max-width: 600px) {
    .home .container #rightCol{
        margin: 0;
        padding: 0 0 .4rem 0;
        border: none;
    }
    .home .container #rightCol h1{
        color: #8B09FF;
        font-size: 1.75rem;
        padding: 0;
    }
    .home .container #rightCol .nearContain .nearLink{
        color: rgb(139, 9, 255);
    }
    .home .container #rightCol .nearDesktop{
        visibility: hidden;
        position: absolute;
    }
}